<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>see your all details</h1>
     <h4><%=user.email  %></h4>
     <h4><%=user.collage_id  %></h4>
     <h4><%=user.University  %></h4>
     <h4><%=user.collage  %></h4>
</body>
</html>